<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="/script/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="./bootstrapt/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <title>Sign In</title>
        <style>
             .main_container{
                border: 0px solid;
            }
            .form_container{
                width: 300px;
                margin: auto;
            }

            .form_title_p{
                font-weight: bold; 
                font-size: 22px; 
                display: inline-block; 
                padding-top: 8px;
            }

            .form_input1{
                width: 98%; 
                height: 30px; 
                border: 1px solid; 
                border-radius: 3px; 
                border-color: gray;
            }
            .form_input2{
                width: 98%; 
                height: 30px; 
                border: 1px solid; 
                border-radius: 3px; 
                border-color: gray;
            }
            .form_input3{
                width: 98%; 
                height: 30px; 
                border: 1px solid; 
                border-radius: 3px; 
                border-color: gray;
            }
            .form_input4{
                width: 98%; 
                height: 30px; 
                border: 1px solid; 
                border-radius: 3px; 
                border-color: gray;
            }

            .form_item_name{
                color: gray;
            }

            .form_text_alert{
                height: 20px;
            }

            .form_text_alert_padding{
                padding-bottom: 10px;
            }

            .form_submit_button{
                width: 100%; 
                height: 44px; 
                background-color: #6975a1; 
                border: 1px; 
                border-radius: 3px; 
                color: white; 
                font-size: 17px; 
                font-weight: 500;
            }
        </style>
        <script>
            $(function(){
                $(".form_submit_button").click(function(){
                    /*

                    if(name != null){
                        if(email != null){
                            if(id != null){
                                if(pass != null){
                                    alert("회원가입 완료");
                                    document.location.href="/";
                                }else{
                                    alert("비밀번호 입력");
                                }
                            }else{
                                alert("아이디 입력");
                            }
                        }else{
                            alert("이메일 입력");
                        }
                    }else{
                        alert("이름 입력");
                    }
                    */
                   
                    var uname=document.getElementById("inputname").value;
                    var email=document.getElementById("inputemail").value;
                    var id=document.getElementById("inputid").value;
                    var pass=document.getElementById("inputpass").value;
                    let userinfo = {
                        name : uname,
                        title : email,
                        content : pass  
                    };
                    let json = JSON.stringify(userinfo);
                    alert(json);
                });
            });
        </script>
    </head>
    <body>
        <div id="container" class="main_container">
            <div style="padding: 20px;"></div>
            <div class="login_container">
                <div class="form_container">
                    <form name="login_form" action="/cookie" method="get">
                        <div>
                            <div>
                                <a class="form_item_name">Name</a>
                            </div>
                            <div>
                                <input type="text" name="Name" placeholder="Name" class="form_input1" id="inputname"/>
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="userna" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a class="form_item_name">Email</a>
                            </div>
                            <div>
                                <input type="text" name="Email" placeholder="Email" class="form_input2" id="inputemail"/>
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_email" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a class="form_item_name">ID</a>
                            </div>
                            <div>
                                <input type="text" name="ID" placeholder="ID" class="form_input3" id="inputid"/>
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_email" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a class="form_item_name">Password</a>
                            </div>
                            <div>
                                <input type="password" name="Password" placeholder="Password" class="form_input4" id="inputpass"/>
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_password" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div>
                            <button type="button" class="form_submit_button" id="b">SIGN IN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>