<html>
    <head>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        * {
            box-sizing: border-box; margin: 0; padding: 0;
        }
        body{
            background-color: #DAE0E6;
        }
        body{
            background-color: #DAE0E6;
        }
       .header {
            display: flex;
            background-color: #FFFFFF;
            height: 80px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
       }
       .search {
            position: absolute;
            left: 90px;
            right: 500px;
            top: 10px;
            padding: 15px;
       }
       .searchbar{
            width: 100%;
            height: 30px;
            color:#ffffff;
            border: 1px solid #2c3863;
            border-radius: 4px;
            background-color: #ffffff;
            padding: 5px;
       }
       .home{
           padding: 15px;
           margin-left: 15px;
       }
       .button{
            position: absolute;
            right: 30px;
        }
       .container {
            margin-top: 80px;
            background-color: #DAE0E6;
            padding: 50px;
       }
       .feed {
            background-color: #ffffff;
            border-top: 1px solid #c0c0c0;
            border-bottom: 1px solid #c0c0c0;
            margin: 7px 0;
            padding: 12px;
       }
       .loginbtn{
            background-color: #6975a1;
            width: 80px;
           height: 30px;
           border-radius: 9999px;
           margin-top: 25px;
           margin-left: 500px;
           margin-right: 10px;
       }
       .signbtn{
           background-color: #DAE0E6;
           width: 80px;
           height: 30px;
           border-radius: 9999px;
           margin-top: 25px;
           margin-right: 10px;
       }
       .wrap {
            width: 800px;
            margin: auto;
        }
        .form-group {
            margin-top: 30px;
        }
        .label {
            margin-top: 20px;
            color: black;
            font-size: 20px;
        }
        .btncls {
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            margin-top: 80px;
            margin-bottom: 20px;
        }
        .btn {
            margin-left: 20px;
        }
        .inputPwd {
            -webkit-text-security: disc;
        }
        .dropdown{
          float: right;
          margin-top: 10px;
        }
   </style>
    <script>
/* 
<link rel='stylesheet' href='/stylesheets/style.css' />

<script src="./bootstrapt/js/bootstrap.min.js">  

<script src="/script/script.js">
 */


        $(function(){
            $(".loginbtn").click(function(){
                document.location.href="/post/<%= postUrl%>";
            });
        });

        $(function(){
            $(".signbtn").click(function(){
                document.location.href="/sign";
            });
        });
        $(function(){
            $(".home").click(function(){
                document.location.href="/";
                //alert('홈');
            });
        });
        $('#myDropdown').on('show.bs.dropdown', function () {
        $('.dropdown-toggle').dropdown()
            })


    

       

    </script>
    </head>
    <body>
        <div class="header">
            <div class="home">
                <img src="https://cdn-icons.flaticon.com/png/512/2549/premium/2549900.png?token=exp=1639359812~hmac=86ce8dd5f3b01205f0d34f77b4652fcd" width="50px">
            </div>
            <div class="search">
                <input type="text" class="searchbar" id="search" onkeyup="filter()" placeholder="Search">
            </div>
            <div class="button">
                <button type="button" class="loginbtn">Log In</button>
                <button type="button" class="signbtn">Sign In</button>
                <div class="dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://cdn-icons.flaticon.com/png/512/1144/premium/1144760.png?token=exp=1639442725~hmac=eb6ddf381c4822bc5d504c6b636dece1" class="userimg" width="50px">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li class="mm1"><a href="/" >log out</a></li>
                        <li class="mm2" ><a href="/write" >write</a></li>
                        <li class="mm3"><a href="/info" >info</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="feed">
                <div class='wrap'>
                    <div class="form-group">
                      <div class="label">
                        <label for="exampleFormControlInput1">TITLE</label>
                        <textarea class="form-control" id="borderName" type="text" rows="1" ></textarea>
                      </div>
                    </div>
                    <div class="label">
                        <label for="exampleFormControlInput1">POST</label>
                     </div>
                     <div>
                        <textarea class="form-control" id="borderContent" type="text" rows="10" ></textarea> 
                      </div>
                    <div class="btncls">
                      <button class="btn" type="submit" onclick="post_border()">SAVE</button>
                      <button class="btn" onclick="location.href='/'">CANCEL</button>
                    </div>
                  </div>
            </div>
        </div>
    </body>
</html>