<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="/script/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="./bootstrapt/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <title>Log In</title>
        <style>
            .main_container{
                border: 0px solid;
            }
            .form_container{
                width: 300px;
                margin: auto;
            }

            .form_title_p{
                font-weight: bold; 
                font-size: 22px; 
                display: inline-block; 
                padding-top: 8px;
            }

            .form_input1{
                width: 98%; 
                height: 30px; 
                border: 1px solid; 
                border-radius: 3px; 
                border-color: gray;
            }
            .form_input2{
                width: 98%; 
                height: 30px; 
                border: 1px solid; 
                border-radius: 3px; 
                border-color: gray;
            }

            .form_item_name{
                color: gray;
            }

            .form_text_alert{
                height: 20px;
            }

            .form_text_alert_padding{
                padding-bottom: 10px;
            }

            .form_submit_button{
                width: 100%; 
                height: 44px; 
                background-color: #6975a1; 
                border: 1px; 
                border-radius: 3px; 
                color: white; 
                font-size: 17px; 
                font-weight: 500;
            }
            .form_submit_button2{
                margin-top: 10px;
                width: 100%; 
                height: 44px; 
                background-color: #bbcad8; 
                border: 1px; 
                border-radius: 3px; 
                color: white; 
                font-size: 17px; 
                font-weight: 500;
            }
            
        </style>
        <script>
            var login=0;
            $(function(){
                $(".form_submit_button").click (function(){
                    
                    var id= "<%= title%>";
                    var pass= "<%= content%>";
                    var user_id = $(".form_input1").val();
                    var user_pass = $(".form_input2").val();

                    if(user_id==null){
                        alert("로그인 실패");
                        }else{
                            if(id == user_id){
                            if(pass == user_pass){
                                login=1;
                                alert("로그인 성공");
                                document.location.href="/view";
                            }else{
                                alert("비밀번호 틀림");
                            }
                        }else{
                            alert("아이디 틀림");
                        }
                    }
                });
            });
            $(function(){
                $(".form_submit_button2").click(function(){
                    document.location.href="/sign";
                });
            });
        </script>
    </head>
    <body>
        <div id="container" class="main_container">
            <div style="padding: 20px;"></div>
            <div class="login_container">
                <div class="form_container">
                    
                    
                        <div>
                            <div>
                                <a class="form_item_name">ID</a>
                            </div>
                            <div>
                                <input type="text" name="email" placeholder="email" class="form_input1"/>
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_email" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a class="form_item_name">PASSWORD</a>
                            </div>
                            <div>
                                <input type="password" name="password" placeholder="Enter password" class="form_input2" />
                            </div>
                            <div class="form_text_alert_padding">
                                <div id="alert_password" class="form_text_alert"></div>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div>
                            <button type="submit" class="form_submit_button" id="btn">LOG IN</button>
                        </div>
                        <div>
                            <button type="submit" class="form_submit_button2" id="btn" >SIGN IN</button>
                        </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>